
main {
  /* background: linear-gradient(
    180deg,
    rgba(178, 255, 154, 1) 0%,
    rgba(58, 141, 47, 1) 100%
  ); */
  /* background-image: url('https://w0.peakpx.com/wallpaper/525/254/HD-wallpaper-disegno-leone-icio.jpg'); */
  background-image: linear-gradient(to right bottom, #7942c7, #cbe0d7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Kaushan Script', cursive;
  margin-top: 211px;
}


li{
  list-style-type: none;
}

.animal-card{
  transition: all 0.3s;
  opacity: 0.80;
}

.animal-card:hover{
  scale: 1.1;
}

.carrello{
  background-color:  rgb(186, 197, 241);
  border-radius: 15px;
  width: 50px;
  cursor: pointer;
}

form{
  display: flex;
  justify-content: center;
  height: 35px;
}
input{
  border-radius: 15px;
}

.cuore-rosso {
  color: red;
}
