<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
  </style>
</head>
<main *ngIf="showPage" [@fadeIn]="!showPage">
  <svg
    (click)="apriCarrello()"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-cart-check-fill carrello m-2 h-50 p-1 mt-4"
    viewBox="0 0 16 16"
  >
    <path
      d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"
    />
  </svg>
  <span *ngIf="carrello.length > 0" class="carrello-count fs-3 fw-bold text-light">{{ carrello.length }}</span>

  <!-- Div del carrello completo -->
  <div class="carrello-container text-center" *ngIf="carrelloAperto">
    <!-- Intestazione del carrello -->
    <div class="carrello-header">
      <h3>Il tuo Carrello</h3>
      <button
        class="close-button btn btn-warning m-2"
        (click)="chiudiCarrello()"
      >
        Chiudi Carrello
      </button>
    </div>

    <!-- Contenuto del carrello -->
    <ul class="carrello-list text-center">
      <!-- Itera sui prodotti nel carrello -->
      <li *ngFor="let prodotto of carrello" class="carrello-item">
        <div class="prodotto-info">
          <span class="prodotto-nome">{{ prodotto.nome }}</span>
          <span class="prodotto-prezzo">{{ prodotto.prezzo | currency }}</span>
        </div>
        <button
          class="rimuovi-button btn btn-danger m-2 text-center"
          (click)="rimuoviDalCarrello(prodotto)"
        >
          Rimuovi
        </button>
      </li>
    </ul>

    <!-- Totale del carrello -->
    <p class="carrello-totale">
      Totale: {{ calcolaTotaleCarrello() | currency }}
    </p>
  </div>

  <form class="text-center" (submit)="cercaProdotti()">
    <input
      class="mx-2 text-dark p-2"
      type="text"
      id="search"
      [(ngModel)]="carattereDiRicerca"
      name="carattereDiRicerca"
      placeholder="..."
      (input)="cercaProdotti()"
    />

    <button (click)="cercaProdotti()" class="btn btn-success" type="submit">Cerca</button>
  </form>



  <div class="container pb-5 ">
    <div class="row">
      <div *ngFor="let prodotto of prodotti" class="col-12 col-lg-4 mb-3">
        <div
          class="animal-card text-light mx-md-2 pt-3 mt-5 px-md-3 text-center rounded"
          style="background-color:  rgb(8, 29, 6)"

        >
          <div>
            <h2 class="display-5">{{ prodotto.nome }}</h2>
          </div>
          <div
            class="me-2 w-100"
            style="
            height: 200px;
            border-radius: 21px 21px 0 0;
            background-image: url('{{ prodotto.immagineUrl }}');
            background-size: cover;
            background-position: center;
          "
          ></div>
          <div class="py-3">
            <button
              class="btn btn-warning m-2"
              [routerLink]="['/dashboard', 'edit', prodotto.id]"
            >
              Modifica
            </button>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" (click)="delete(prodotto.id)" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg> -->
            <button class="btn btn-danger m-2" (click)="delete(prodotto.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </button>
            <button
              class="btn btn-primary m-2"
              [routerLink]="['/dashboard', 'detail', prodotto.id]"
            >
              Dettaglio
            </button>
            <button
              class="btn btn-success m-2"
              (click)="aggiungiAlCarrello(prodotto)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-cart-check-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"
                />
              </svg>
            </button>
          <span
            [ngClass]="{
              fa: true,
              'fa-heart': true,
              'cuore-rosso': !prodotto.preferito,
              'fa-heart-o': prodotto.preferito
            }"
            (click)="aggiungiAiPreferiti(prodotto)"
          ></span>

          <p *ngIf="!prodotto.preferito">Prodotto aggiunto ai Preferiti!</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
