*{
  font-family: 'Kaushan Script', cursive;
}
.ng-invalid.ng-untouched{
  border-color: red;
}
span{

  background-color: rgb(219, 133, 133);
}
main{
  height: 90vh;
  background-image: linear-gradient( to right bottom, #7942c7, #cbe0d7);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register{
  margin-top: 220px;
}
.alert{
  background-color: red;
}
/* Nascondi la sidebar destra quando la larghezza è inferiore a 768px */
@media (max-width: 767px) {

  .register{
    margin-top: 300px;
  }
}
