main {
  background: linear-gradient(
    180deg,
    rgba(178, 255, 154, 1) 0%,
    rgba(58, 141, 47, 1) 100%
  );
  font-family: 'Kaushan Script', cursive;
  margin-top: 200px;
}

h2{
  border-bottom: solid 2px black;
}
