<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  </style>
</head>
<main>
<div class="container px-4 py-5 fs-2">
  <h2 class="pb-2">FAQs - Servizio Clienti</h2>

  <h4 class="mt-5">L'80% DEI CLIENTI TROVA RISPOSTA ALLE SUE DOMANDE NELLE NOSTRE FAQ'S.</h4>
  <p>
    Non esitare a contattarci se hai bisogno di aiuto. Puoi contattarci
    telefonicamente in qualsiasi momento entro i nostri orari di apertura. In
    questa pagina trovi i riferimenti e gli orari di servizio. Al di fuori degli
    orari di servizio dell'assistenza telefonica, puoi inviarci una e-mail
    utilizzando il pulsante "Invia email".
  </p>
  <p>
    Hai già dato un'occhiata alle nostre FAQ? Potresti trovare velocemente la
    risposta che stavi cercando.
  </p>

  <div>
    <!-- Domanda 1: Scarpe -->
    <details>
      <summary>
        Quali tipi di scarpe sono disponibili nel vostro negozio?
      </summary>
      <p>
        Nel nostro negozio sono disponibili diversi tipi di scarpe, tra cui
        sneakers, stivali, sandali e molto altro.
      </p>
    </details>

    <!-- Domanda 2: T-Shirt -->
    <details>
      <summary>Quali sono le taglie disponibili per le t-shirt?</summary>
      <p>
        Le nostre t-shirt sono disponibili in una vasta gamma di taglie, dalla
        XS alla XXL, per soddisfare tutte le esigenze di vestibilità.
      </p>
    </details>

    <!-- Domanda 3: Jeans -->
    <details>
      <summary>Quali marche di jeans offrite nel vostro negozio?</summary>
      <p>
        Nel nostro negozio troverai jeans di marche rinomate e di alta qualità,
        tra cui Levi's, Wrangler, Diesel e molte altre.
      </p>
    </details>

    <!-- Domanda 4: Felpe -->
    <details>
      <summary>
        Quali sono i materiali delle felpe disponibili nel vostro negozio?
      </summary>
      <p>
        Le nostre felpe sono realizzate con materiali di alta qualità, tra cui
        cotone, misto cotone-poliestere e tessuti traspiranti, per garantire il
        massimo comfort e durata.
      </p>
    </details>
  </div>
</div>
</main>
