main {
  /* background: linear-gradient(
    180deg,
    rgba(178, 255, 154, 1) 0%,
    rgba(58, 141, 47, 1) 100%
  ); */
  /* background-image: url('https://w0.peakpx.com/wallpaper/525/254/HD-wallpaper-disegno-leone-icio.jpg'); */
  background-image: linear-gradient(to right bottom, #7942c7, #cbe0d7);  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Kaushan Script', cursive;
  margin-top: 200px;
  color: wheat;
}

h2{
  border-bottom: solid 2px white
}
