
main {
  /* background: linear-gradient(
    180deg,
    rgba(178, 255, 154, 1) 0%,
    rgba(58, 141, 47, 1) 100%
  ); */
  /* background-image: url('https://w0.peakpx.com/wallpaper/525/254/HD-wallpaper-disegno-leone-icio.jpg'); */
  background-image: linear-gradient(to right bottom, #7942c7, #cbe0d7);  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Kaushan Script', cursive;
  margin-top: 200px;

}

.animal-card{
  opacity: 0.80;
  box-shadow: 5px 5px 5px rgba(186, 197, 241);
  transition: all 0.3s;
}

.animal-card:hover{
  scale: 1.1;
}
.cuore-rosso {
  color: red;
}

.carrello{
  background-color:  rgb(186, 197, 241);
  border-radius: 15px;
  width: 50px;
  border: solid 2px black;
  cursor: pointer;
}
li{
  list-style-type: none;
}
