*{
  color: white;
  font-family: 'Permanent Marker', cursive;
  }
  li, a{
  color:white;
  }
  /* .footerComp{
    background-image: url('https://t4.ftcdn.net/jpg/03/06/17/51/360_F_306175178_zbOGg7uORhCeIzoSJCvfGlUDhK6fcX3S.jpg');
    background-position: center;
    background-size: cover;
  } */
/* Nascondi la sidebar destra quando la larghezza è inferiore a 768px */
@media (max-width: 767px) {

  .product_footer{
    display: none;
  }
  .chi_siamo_footer{
    display: none;
  }
}
